In [49]:
import pandas as pd
import pickle as pkl
import numpy as np

In [43]:
f1 = open('./pubmed/ind.pubmed.allx','rb')
data = pkl.load(f1, encoding='latin1')
f1 = pd.DataFrame(data.todense())
f1['index'] = f1.index
f1

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,index
0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.004999,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0
1,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.016434,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,1
2,0.104636,0.0,0.0,0.0,0.035178,0.000000,0.000000,0.019555,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,2
3,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.008582,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,3
4,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.007356,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18712,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.013917,0.0,0.024851,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,18712
18713,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.005597,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,18713
18714,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,18714
18715,0.000000,0.0,0.0,0.0,0.036567,0.000000,0.039196,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.094256,0.0,0.0,0.0,0.0,18715
18716,0.000000,0.0,0.0,0.0,0.000000,0.033419,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,18716

In [47]:
f2 = open('./pubmed/ind.pubmed.ally','rb')
data = pkl.load(f2, encoding='latin1')
data
label = []
for i in data:
    label.append(np.where(i)[0][0])

array([[0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       ...,
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [50]:
label = []
for i in data:
    label.append(np.where(i)[0][0])

In [55]:
label

[1,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 1,
 2,
 2,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 0,
 2,
 1,
 1,
 0,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 1,
 2,
 1,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 1,
 2,
 2,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 2,
 1,
 1,
 0,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 2,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 2,
 2,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 2,
 0,
 2,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 2,
 1,
 0,
 2,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 ...]

In [34]:
f3 = open('./pubmed/ind.pubmed.graph','rb')
data = pkl.load(f3, encoding='latin1')
l1 = []
l2 = []
for i in range(len(data)):
    for j in data[i]:
        l1.append(i)
        l2.append(j)
f3 = pd.DataFrame(zip(l1,l2))
f3

           0      1
0          0  14442
1          0   1378
2          0   1544
3          0   6092
4          0   7636
...      ...    ...
88671  19712   2361
88672  19713  12204
88673  19714  12278
88674  19715   4284
88675  19716  16030

[88676 rows x 2 columns]

In [35]:
f3.to_csv('./pubmed/pubmed_A.txt',header=False,index=False)

In [39]:
f_idx = pd.read_csv('./pubmed/ind.pubmed.test.index',header=None)

19716

In [42]:
f_tx = open('./pubmed/ind.pubmed.tx','rb')
data = pkl.load(f_tx, encoding='latin1')
f_tx = pd.DataFrame(data.todense())
f_tx['index'] = f_idx[0]
f_tx

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,index
0,0.000000,0.000000,0.019344,0.0,0.0,0.0,0.000000,0.014437,0.000000,0.017186,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,18747
1,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.055165,0.000000,0.000000,0.034055,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19392
2,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.086764,0.004999,0.021018,0.017854,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19181
3,0.000000,0.033230,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,18843
4,0.157453,0.000000,0.012320,0.0,0.0,0.0,0.000000,0.000000,0.025772,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19500
996,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.008728,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19307
997,0.000000,0.018570,0.022828,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.013522,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.026261,19288
998,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.010956,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19594
999,0.000000,0.031968,0.013100,0.0,0.0,0.0,0.000000,0.006518,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,19271

In [46]:
f_totalx = f1.append(f_tx)
col = ['index'] + list(range(500))
f_totalx = f_totalx[col]
f_totalx.to_csv('pubmed/pubmed_features.txt',header=False,index=False)

In [28]:
total = set(ls)

In [36]:
new_id = list(total - set(f2[0]))

In [39]:
mx = []
for n in new_id:
    mx.append([n]+[0]*3703+['9999'])

In [44]:
f2 = f2.append(pd.DataFrame(mx))

In [43]:
f2

,0,1,2,3,4,5,6,7,8,9,...,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704
0,100157,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Agents
1,100598,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,IR
2,105684,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Agents
3,11099,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,DB
4,114091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,AI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,zhang99query,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,DB
3308,zhang99situated,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ML
3309,zhang99towards,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,IR
3310,zhou00implementation,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,DB
3311,455346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ML